fastapi==0.89.1
pydantic==1.10.4
# might not need this one below, keeping for now
# for connecting to postgress, not recommended for prod apps though
# psycopg2-binary==2.9.2
#https://github.com/ravendb/ravendb-python-client
ravendb==5.2.4
starlette==0.22.0
python-dotenv==1.0.0
python_multipart==0.0.6
uvicorn==0.20.0
python-jose==3.4.0
# needed below after install of python-jose
# pip3 install "python-jose[cryptography]" v = 3.4.0
passlib==1.7.4
# needed below after install of passlib
# pip3 install "passlib[bcrypt]" v = 4.0.1
